<h3>Merchant Registration</h3>

<div class="alert alert-success">
  <strong>Well done!</strong> You have successfully registered as a Merchant. An email has been sent to your email
  address <%= @user.email %> for resetting your password. If you don't receive the email for long time, click the <%= link_to 'Forget Password', new_password_path('user') %> to reset the password, or go to the <%= link_to 'Root URL', root_path %>.
</div>