<h3>Merchant Registration</h3>

<%= form_for(@user, :as => 'user', :url => merchant_registrations_path, :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>

  <fieldset>
    <div class="control-group <%= @user.errors[:username].empty? ? '' : 'error' -%>">
      <%= f.label :username, class: 'control-label' do %>
        Username <span class='red'>(*)</span>
      <% end %>
      <div class="controls">
        <%= f.text_field :username, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:username].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:email].empty? ? '' : 'error' -%>">
      <%= f.label :email, class: 'control-label' do %>
        Email <span class='red'>(*)</span>
      <% end %>
      <div class="controls">
        <%= f.text_field :email, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:email].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:last_name].empty? ? '' : 'error' -%>">
      <%= f.label :last_name, class: 'control-label' do %>
        Name <span class='red'>(*)</span>
      <% end %>
      <div class="controls">
        <%= f.text_field :last_name, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:last_name].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:msisdn].empty? ? '' : 'error' -%>">
      <%= f.label :msisdn, class: 'control-label' do %>
        Msisdn <span class='red'>(*)</span>
      <% end %>
      <div class="controls">
        <%= f.text_field :msisdn, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:msisdn].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:address].empty? ? '' : 'error' -%>">
      <%= f.label :address, class: 'control-label' do %>
        Address 
      <% end %>
      <div class="controls">
        <%= f.text_field :address, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:address].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:city].empty? ? '' : 'error' -%>">
      <%= f.label :city, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:city].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:zipcode].empty? ? '' : 'error' -%>">
      <%= f.label :zipcode, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :zipcode, :autofocus => true, :class => 'span5' %>
        <% @user.errors[:zipcode].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:currency].empty? ? '' : ' error' -%>">
      <%= f.label :currency, class: 'control-label' do -%>
        <%= t "users.form.currency" -%><span class="red">(*)</span>
      <% end -%>
      <div class="controls">
        <%= f.select :currency, currency_options, {}, class: 'span5' %>
        <% @user.errors[:currency].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), root_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>