<div class="box">
  <div class="box-header well" data-original-title="">
    <h2><i class="icon-list"></i> <%= t "dashboard.title.ebills_overall" -%></h2>
  </div>
  <div class="box-content">
    <div class="row-fluid">
      <div class="span6">
        <% if @stat.present? %>
          <h4>Last updated at: <%= @stat.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></h4>
        <% end %>
      </div>
    </div>
    <div class="sortable row-fluid">
      <div style="margin:left;"></div>
      <% if current_user.has_profile?(Profile::ADMIN) %>
        <%= link_to e_bills_path(), class: "span3 well top-block" do -%>
          <i class="icon-user icon-2x green"></i>
          <div><%= t "dashboard.total" -%></div>
          <div><%= @total_count -%></div>
        <% end -%>
      <% end %>

      <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
        <%= link_to e_bills_path(by_state: 'ready'), class: "span3 well top-block" do -%>
          <i class="icon-user icon-2x goldenrod"></i>
          <div><%= t "dashboard.ready" -%></div>
          <div><%= @ready_count -%></div>
        <% end -%>
      <% end %>

      <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
        <%= link_to e_bills_path(overdue: 'true'), class: "span3 well top-block" do -%>
          <i class="icon-user icon-2x red"></i>
          <div><%= t "dashboard.overdue" -%></div>
          <div><%= @overdue_count -%></div>
        <% end -%>
      <% end %>

      <%= link_to e_bills_path(by_state: 'paid'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.paid" -%></div>
        <div><%= @paid_count -%></div>
      <% end -%>

      <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
        <%= link_to e_bills_path(by_state: 'cancelled'), class: "span3 well top-block" do -%>
          <i class="icon-user icon-2x grey"></i>
          <div><%= t "dashboard.cancelled" -%></div>
          <div><%= @cancelled_count -%></div>
        <% end -%>
      <% end %>

      <%= link_to e_bills_path(by_state: 'processed'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.processed" -%></div>
        <div><%= @processed_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(by_state: 'partially_paid'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.partially_paid" -%></div>
        <div><%= @partially_paid_count -%></div>
      <% end -%>

      <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
        <%= link_to e_bills_path(by_state: 'expired'), class: "span3 well top-block" do -%>
          <i class="icon-user icon-2x grey"></i>
          <div><%= t "dashboard.expired" -%></div>
          <div><%= @expired_count -%></div>
        <% end -%>
      <% end %>
    </div>

  </div>
</div>

<% if @merchant_monthly_stats.present? %>
  <div class="sortable row-fluid">
    <div class="box span12">
      <div class="box-header well" data-original-title="">
        <h2><i class="icon-list"></i> <%= t "dashboard.historic" -%></h2>
      </div>
      <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
          <thead>
            <tr role="row">
              <th>Month</th>
              <th>Paid</th>
              <th>Partially Paid</th>
              <th>Revenue</th>
              <% if current_user.has_profile?(Profile::ADMIN) %>
                <th>EBilling Transaction Fee</th>
                <th>PS Transaction Fee</th>
                <th>Net Revenue</th>
              <% end %>
              <% if current_user.has_profile?(Profile::MERCHANT) %>
                <th>Total Transaction Fee</th>
                <th>Net Revenue</th>
              <% end %>
              <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                <th>Transaction Fee</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @merchant_monthly_stats.each do |stat| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= format_month(stat.year, stat.month) %></td>
                <td><%= stat.paid_count %></td>
                <td><%= stat.partially_paid_count %></td>
                <td>
                  <% stat.revenues.each do |currency, money| %>
                    <%= "#{currency} : #{money.format}" %><br/>
                  <% end %>
                </td>
                <% if current_user.has_profile?(Profile::ADMIN) %>
                  <td>
                    <% stat.traffic_fees.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                  <td>
                    <% stat.ps_transaction_fees.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                  <td>
                    <% stat.net_revenues.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                <% end %>
                <% if current_user.has_profile?(Profile::MERCHANT) %>
                  <td>
                    <% stat.total_transaction_fees.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                  <td>
                    <% stat.net_revenues.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                <% end %>
                <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                  <td>
                    <% stat.transaction_fees.each do |currency, money| %>
                      <%= "#{currency} : #{money.format}" %><br/>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @top10.present? || @top10_by_paid.present? -%>
  <div class="sortable row-fluid">
    <% if @top10.present? %>
      <div class="box span4">
        <div class="box-header well" data-original-title="">
          <h2><i class="icon-list"></i> <%= t "dashboard.top10" -%></h2>
        </div>
        <div class="box-content">
          <table class="table table-striped">
            <tbody>
              <% @top10.each do |e_bill| -%>
                <tr>
                  <td><%= e_bill.count -%></td>
                  <td><%= e_bill.username -%></td>
                </tr>
              <% end -%>
            </tbody>
          </table>

        </div>
      </div>
    <% end %>

    <% if @top10_by_paid.present? %>
      <div class="box span4">
        <div class="box-header well" data-original-title="">
          <h2><i class="icon-list"></i> <%= t "dashboard.top10_paid" -%></h2>
        </div>
        <div class="box-content">
          <table class="table table-striped">
            <tbody>
              <% @top10_by_paid.each do |e_bill| -%>
                <tr>
                  <td><%= e_bill.paid_count -%></td>
                  <td><%= e_bill.username -%></td>
                </tr>
              <% end -%>
            </tbody>
          </table>

        </div>
      </div>
    <% end %>

    <% if @top10_by_transaction_fee.present? %>
      <div class="box span4">
        <div class="box-header well" data-original-title="">
          <h2><i class="icon-list"></i> <%= t "dashboard.top10_transaction_fee" -%></h2>
        </div>
        <div class="box-content">
          <table class="table table-striped">
            <tbody>
              <% @top10_by_transaction_fee.each do |e_bill| -%>
                <tr>
                  <td><%= Money.new(e_bill.transaction_fee_centimes).format(symbol: false) -%></td>
                  <td><%= e_bill.username -%></td>
                </tr>
              <% end -%>
            </tbody>
          </table>

        </div>
      </div>
    <% end %>
  </div>
<% end -%>

<% if @all_merchants_current_month.present? && !current_user.has_profile?(Profile::MERCHANT) %>
  <div class="sortable row-fluid">
    <div class="box span12">
      <div class="box-header well" data-original-title="">
        <h2><i class="icon-list"></i> <%= t "dashboard.all_merchants_current_month" -%></h2>
      </div>
      <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
          <thead>
            <tr role="row">
              <th>Name</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Ready</th>
              <% end %>
              <th>Paid</th>
              <th>Partially Paid</th>
              <th>Processed</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Overdue</th>
                <th>Expired</th>
                <th>Cancelled</th>
              <% end %>
              <th>Revenue</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Recurrent Fee</th>
                <th>Traffic Fee</th>
              <% end %>
              <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                <th>Transaction Fee</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @all_merchants_current_month.each do |stat| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= stat.merchant.try(:username) %></td>
                <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                  <td><%= stat.ready_count %></td>
                <% end %>
                <td><%= stat.paid_count %></td>
                <td><%= stat.partially_paid_count %></td>
                <td><%= stat.processed_count %></td>
                <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                  <td><%= stat.overdue_count %></td>
                  <td><%= stat.expired_count %></td>
                  <td><%= stat.cancelled_count %></td>
                <% end %>
                <td><%= stat.revenue_from_stats.format %></td>
                <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                  <td><%= stat.recurrent_fee_from_stats.format %></td>
                  <td><%= stat.traffic_fee_from_stats.format %></td>
                <% end %>
                <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                  <td><%= stat.transaction_fee_from_stats.format %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @all_merchants_global.present? && !current_user.has_profile?(Profile::MERCHANT) %>
  <div class="sortable row-fluid">
    <div class="box span12">
      <div class="box-header well" data-original-title="">
        <h2><i class="icon-list"></i> <%= t "dashboard.all_merchants_global" -%></h2>
      </div>
      <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
          <thead>
            <tr role="row">
              <th>Name</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Ready</th>
              <% end %>
              <th>Paid</th>
              <th>Partially Paid</th>
              <th>Processed</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Overdue</th>
                <th>Expired</th>
                <th>Cancelled</th>
              <% end %>
              <th>Revenue</th>
              <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                <th>Recurrent Fee</th>
                <th>Traffic Fee</th>
              <% end %>
              <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                <th>Transaction Fee</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @all_merchants_global.each do |stat| %>
              <% if stat.merchant.present? %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td><%= stat.merchant.try(:username) %></td>
                  <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                    <td><%= stat.ready_count %></td>
                  <% end %>
                  <td><%= stat.paid_count %></td>
                  <td><%= stat.partially_paid_count %></td>
                  <td><%= stat.processed_count %></td>
                  <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                    <td><%= stat.overdue_count %></td>
                    <td><%= stat.expired_count %></td>
                    <td><%= stat.cancelled_count %></td>
                  <% end %>
                  <td><%= stat.revenue_from_stats.format %></td>
                  <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
                    <td><%= stat.recurrent_fee_from_stats.format %></td>
                    <td><%= stat.traffic_fee_from_stats.format %></td>
                  <% end %>
                  <% if current_user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
                    <td><%= stat.transaction_fee_from_stats.format %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
