<%= form_for @profile, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group<%= @profile.errors[:name].empty? ? '' : ' error' %>">
      <%= f.label :name, t("profiles.index.name"), class: 'control-label col-sm-2' %>
      <div class="controls col-sm-8">
        <%= f.text_field :name, class: 'form-control' %>
        <% @profile.errors[:name].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, t("profiles.index.description"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, class: 'span5' %>
      </div>
    </div>

    <div class="control-group<%= @profile.errors[:roles].empty? ? '' : ' error' %>">
      <%= f.label :roles, t("profiles.index.roles"), class: 'control-label' %>
      <div class="controls">
        <% unless @profile.errors[:roles].empty? -%>
          <div class="row-fluid">
            <% @profile.errors[:roles].each do |error| -%>
              <span class="help-inline"><%= error -%></span>
            <% end -%>
          </div>
        <% end -%>

        <% RoleType.all.each do |role_type| -%>
          <legend class="role-type"><%= role_type.name -%></legend>
          <%= collection_check_boxes :profile, :role_ids, role_type.roles.all, :id, :display_name do |b| %>
            <div class="span2">
              <%= b.check_box(class: "check-box") -%><%= b.label class: "check-box" -%>
            </div>
          <% end %>
        <% end -%>

      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("profiles.form.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("profiles.form.cancel"), profiles_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>