<tr class="<%= cycle('odd', 'even') -%>" id="profile-row-<%= profile.id -%>">
  <td class="center"><%= profile.name -%></td>
  <td class="center"><%= profile.description -%></td>
  <td class="center">
    <% profile.roles.each do |role| -%>
      <%= role.name -%> <br/>
    <% end -%>
  </td>
  <td class="center">
    <%= link_to profile_path(profile),  class: "btn btn-success" do -%>
        <i class="icon-zoom-in icon-white"></i> <%= t "actions.view" -%>
    <% end -%>

    <% if can?(:edit, profile) -%>
      <%= link_to edit_profile_path(profile),  class: "btn btn-warning" do -%>
          <i class="icon-edit icon-white"></i> <%= t "actions.edit" -%>
      <% end -%>
    <% end -%>

    <% if can?(:delete, profile) -%>
      <%= link_to profile_path(profile),  method: :delete, class: "btn btn-danger",
                  remote: true, confirm: t("profiles.index.confirm_delete") do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
      <% end -%>
    <% end -%>
  </td>
</tr>