<% if can?(:create, Profile) -%>

  <div class="row-fluid">
    <div class="pull-right">
      <%= link_to new_profile_path,  class: "btn btn-success" do -%>
        <i class="icon-plus icon-white"></i> <%= t "profiles.index.new_profile" -%>
      <% end %>
    </div>
  </div>

<% end -%>

<%= render 'shared/will_paginate', collection: @profiles -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 188px;"><%= t "profiles.index.name" -%></th>
        <th class="sorting" role="columnheader" tabindex="0" style="width: 300px;"><%= t "profiles.index.description" -%></th>
        <th role="columnheader" tabindex="0" style="width: 200px;"><%= t "profiles.index.roles" -%></th>
        <th role="columnheader" tabindex="0" style="width: 353px;"><%= t "profiles.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @profiles -%>
    </tbody>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @profiles -%>

