<legend>
  <div class="pull-right">
    <% if can?(:edit, @profile) -%>
      <%= link_to edit_profile_path(@profile),  class: "btn btn-warning" do -%>
        <i class="icon-edit icon-white"></i> Edit Profile
      <% end %>
    <% end -%>

    <%= link_to profiles_path,  class: "btn btn-primary" do -%>
      <i class="icon-chevron-left icon-white"></i> Back to profiles
    <% end %>
  </div>

  <%= @profile.name %>
</legend>

<div class="show-group">
    <div class="show-label">Description : </div>
    <div class="show-content">
      <%= @profile.description -%>
   </div>

</div>
<div class="clearfix"></div>
<div class="show-group">
  <div class="show-label">Roles : </div>
  <div class="show-content">
    <% @profile.roles.each do |role| -%>
      <div>
        <%= role.name -%> - <%= role.description -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="clearfix"></div>