<% url = @fee_bucket.new_record? ? currency_fee_buckets_path(@currency.id) : currency_fee_bucket_path(@currency, @fee_bucket) %>

<%= form_for @fee_bucket, url: url, html: { class: 'form-horizontal strategy-form' } do |f| %>
  <fieldset>

    <div class="control-group<%= @fee_bucket.errors[:min_transactions].empty? ? '' : ' error' -%>">
      <%= f.label :min_transactions, class: 'control-label' do -%>
        <%= t "currency.form.min_transactions" -%><span class="text-error">(*)</span>
      <% end -%>
      <div class="controls">
        <%= f.text_field :min_transactions, class: 'span3' %>
        <% @fee_bucket.errors[:min_transactions].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group<%= @fee_bucket.errors[:max_transactions].empty? ? '' : ' error' -%>">
      <%= f.label :max_transactions, class: 'control-label' do -%>
        <%= t "currency.form.max_transactions" -%><span class="text-error">(*)</span>
      <% end -%>
      <div class="controls">
        <%= f.text_field :max_transactions, class: 'span3' %>
        <% @fee_bucket.errors[:max_transactions].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group<%= @fee_bucket.errors[:fee_value].empty? ? '' : ' error' -%>">
      <%= f.label :fee_value, class: 'control-label' do -%>
        <%= t "currency.form.fee_value" -%><span class="text-error">(*)</span>
      <% end -%>
      <div class="controls">
        <%= f.text_field :fee_value, class: 'span3' %>
        <% @fee_bucket.errors[:fee_value].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>    

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), currencies_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>