<%= content_for :title do -%><%= t "outline.edit.edit_password" -%><% end -%>

<%= form_for @user, url: update_password_outline_path, method: :put,
                                html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group<%= @user.errors[:current_password].empty? ? '' : ' error' -%>">
      <%= f.label :current_password, t("outline.edit.current_password"), class: 'control-label' -%>
      <div class="controls">
        <%= f.password_field :current_password, class: 'span5' %>
        <% @user.errors[:current_password].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>


    <div class="control-group<%= @user.errors[:password].empty? ? '' : ' error' -%>">
      <%= f.label :password, t("outline.edit.password"), class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, class: 'span5' %>
        <% @user.errors[:password].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group<%= @user.errors[:password_confirmation].empty? ? '' : ' error' -%>">
      <%= f.label :password_confirmation, t("outline.edit.password_confirmation"), class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, class: 'span5' %>
        <% @user.errors[:password_confirmation].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("outline.edit.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("outline.edit.cancel"), users_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>