<%= content_for :title do -%><%= t "outline.show.profile" -%><% end -%>

<legend>
  <div class="pull-right">
    <%= link_to edit_outline_path, class: "btn btn-warning" do -%>
      <i class="icon-edit icon-white"></i> <%= t "outline.show.edit" -%>
    <% end %>

    <%= link_to edit_password_outline_path, class: "btn btn-warning" do -%>
      <i class="icon-edit icon-white"></i> <%= t "outline.show.edit_password" -%>
    <% end %>
  </div>

  <%= @user.username %>
</legend>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.profiles" -%> : </div>
  <div class="show-content">
    <%= "No profiles" if @user.profiles.empty? -%>
    <% @user.profiles.each do |profile| -%>
      <div>
        <%= profile.name -%> - <%= profile.description -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.username" -%> : </div>
  <div class="show-content">
    <%= @user.username %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.first_name" -%> : </div>
  <div class="show-content">
    <%= @user.first_name %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.last_name" -%> : </div>
  <div class="show-content">
    <%= @user.last_name %>
  </div>
</div>
<div class="clearfix"></div>

<% if @user.has_profile?(Profile::MERCHANT) || @user.has_profile?(Profile::EBILL_CREATOR) %>
  <div class="show-group">
    <div class="show-label"><%= t "users.index.shared_key" -%> : </div>
    <div class="show-content">
      <span id='shared_key'><%= @user.shared_key -%></span>
      <%= link_to "Regenerate", shared_keys_path(format: :js), class: 'btn btn-warning', remote: true, method: :put %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.email" -%> : </div>
  <div class="show-content">
    <%= @user.email %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.msisdn" -%> : </div>
  <div class="show-content">
    <%= @user.msisdn %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.city" -%> : </div>
  <div class="show-content">
    <%= @user.city %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.address" -%> : </div>
  <div class="show-content">
    <%= @user.address %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.zipcode" -%> : </div>
  <div class="show-content">
    <%= @user.zipcode %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "outline.show.website" -%> : </div>
  <div class="show-content">
    <%= @user.website %>
  </div>
</div>
<div class="clearfix"></div>

<% if @user.has_profile? Profile::MERCHANT %>
  <div class="show-group">
    <div class="show-label"><%= t "outline.show.currency" -%> : </div>
    <div class="show-content">
      <%= @user.currency %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.tax_rate" -%> : </div>
    <div class="show-content">
      <%= @user.tax_rate %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.notification_url" -%> : </div>
    <div class="show-content">
      <%= @user.notification_url %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.notification_params" -%> : </div>
    <div class="show-content">
      <%= @user.notification_params %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.notification_post" -%> : </div>
    <div class="show-content">
      <%= @user.notification_post %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.additional_notification_params" -%> : </div>
    <div class="show-content">
      <%= @user.additional_notification_params %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.legal_info" -%> : </div>
    <div class="show-content">
      <%= @user.legal_info %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.greeting_message" -%> : </div>
    <div class="show-content">
      <%= @user.greeting_message %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.email_notification" -%> : </div>
    <div class="show-content">
      <%= @user.email_notification %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.logo" -%> : </div>
    <div class="show-content">
      <%= image_tag(@user.logo_url) if @user.logo? %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label"><%= t "outline.show.signature" -%> : </div>
    <div class="show-content">
      <%= image_tag(@user.signature_url) if @user.signature? %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>