<legend>Edit System Config</legend>

<%= form_tag system_configs_path, method: :patch,  multipart: true, class: 'form-horizontal'  do |f| -%>
  <fieldset>
    <div class="row-fluid">
      SMS Config
    </div>
    <div class="control-group">
      <%= label_tag 'sms_server_url', t("templates.show.sms_server_url"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'sms_server_url', Settings.sms_server_url, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'sms_username', t("templates.show.sms_username"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'sms_username', Settings.sms_username, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'sms_password', t("templates.show.sms_password"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'sms_password', Settings.sms_password, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'sms_params', t("templates.show.sms_params"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'sms_params', Settings.sms_params, class: 'span9' %>
      </div>
    </div>

    <div class="row-fluid">
      Email Config
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_address', t("templates.show.smtp_address"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'smtp_address', Settings.smtp_address, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_port', t("templates.show.smtp_port"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'smtp_port', Settings.smtp_port, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_domain', t("templates.show.smtp_domain"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'smtp_domain', Settings.smtp_domain, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_username', t("templates.show.smtp_username"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'smtp_username', Settings.smtp_username, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_password', t("templates.show.smtp_password"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'smtp_password', Settings.smtp_password, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'smtp_password', t("templates.show.sender_id"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'sender_id', Settings.sender_id, class: 'span9' %>
      </div>
    </div>

    <div class="row-fluid">
      Other Config
    </div>
    <div class="control-group">
      <%= label_tag 'max_export_excel', t("templates.show.max_export_excel"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'max_export_excel', Settings.max_export_excel, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'max_export_pdf', t("templates.show.max_export_pdf"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'max_export_pdf', Settings.max_export_pdf, class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'bill_id_length', t("templates.show.bill_id_length"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'bill_id_length', Settings.bill_id_length, class: 'span9' %>
      </div>
    </div>

    <div class="row-fluid">
      Templates
    </div>
    <div class="control-group">
      <%= label_tag 'invoice_template', t("templates.show.invoice_template"), class: 'control-label' -%>
      <div class="controls">
        <%= file_field_tag 'invoice_template', class: 'span9' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'receipt_template', t("templates.show.receipt_template"), class: 'control-label' -%>
      <div class="controls">
        <%= file_field_tag 'receipt_template', class: 'span9' %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t("actions.update"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), settings_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>