<legend>
  <div class="pull-right">
    <% if can? :edit, Settings -%>
      <%= link_to edit_system_configs_path,  class: "btn btn-success", id: 'edit-settings' do -%>
        <i class="icon-edit icon-white"></i> <%= t "templates.edit_system_config" -%>
      <% end %>
    <% end -%>

  </div>

  <div class="row-fluid">
    System Config
  </div>
</legend>

<div class="row-fluid">
  Server Maintanence
</div>
<div class="table-container row-fluid">
  <%= link_to regenerate_stats_system_configs_path, method: :post, remote: true, class: "btn btn-success" do -%>
    <i class="icon-book icon-white"></i> <%= t "templates.regenerate_stats" -%>
  <% end %>
</div>
<br/>

<div class="row-fluid">
  SMS Config
</div>
<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "templates.show.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "templates.show.value" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_server_url" -%></td>
        <td><%= Settings.sms_server_url -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_username" -%></td>
        <td><%= Settings.sms_username -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_password" -%></td>
        <td><%= Settings.sms_password -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_params" -%></td>
        <td><%= Settings.sms_params -%></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  Email Config
</div>
<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "templates.show.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "templates.show.value" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.smtp_address" -%></td>
        <td><%= Settings.smtp_address -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.smtp_port" -%></td>
        <td><%= Settings.smtp_port -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.smtp_domain" -%></td>
        <td><%= Settings.smtp_domain -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.smtp_username" -%></td>
        <td><%= Settings.smtp_username -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.smtp_password" -%></td>
        <td><%= Settings.smtp_password -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sender_id" -%></td>
        <td><%= Settings.sender_id -%></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  Other Config
</div>
<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "templates.show.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "templates.show.value" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.max_export_excel" -%></td>
        <td><%= Settings.max_export_excel -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.max_export_pdf" -%></td>
        <td><%= Settings.max_export_pdf -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.bill_id_length" -%></td>
        <td><%= Settings.bill_id_length -%></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  Templates
</div>
<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "templates.show.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "templates.show.value" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.invoice_template" -%></td>
        <td><%= link_to "Download invoice template", "templates/invoice_template.odt" -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.receipt_template" -%></td>
        <td><%= link_to "Download receipt template", "templates/receipt_template.odt" -%></td>
      </tr>
    </tbody>
  </table>
</div>