<tr class="<%= cycle('odd', 'even') -%>" id="mobile-row-<%= mobile.id -%>">
  <td class="center"><%= mobile.user.username -%></td>
  <td class="center"><%= mobile.imei -%></td>
  <td class="center"><%= mobile.confirmed? ? 'Yes' : 'No' -%></td>
  <td class="center">
    <% if can?(:delete, mobile) -%>
      <%= link_to mobile_path(mobile),  method: :delete, class: "btn btn-danger", confirm: t("mobiles.index.confirm_delete") do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
      <% end -%>
    <% end -%>
  </td>
</tr>