<%= render 'shared/will_paginate', collection: @mobiles -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th role="columnheader" tabindex="0"><%= t "mobiles.index.username" -%></th>
        <th role="columnheader" tabindex="0"><%= t "mobile_traces.index.imei" -%></th>
        <th role="columnheader" tabindex="0"><%= t "mobile_traces.confirmed" -%></th>
        <th role="columnheader" tabindex="0"><%= t "mobile_traces.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @mobiles -%>
    </tbody>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @mobiles -%>