<legend>

  <div class="row-fluid">
    <%= render :partial => 'shared/search_form', :locals => { :path => merchant_payment_systems_path } -%>
  </div>
</legend>

<%= render 'shared/will_paginate', collection: @mappings -%>
<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;">PS Name</th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;">Merchant PS ID</th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;">Fee %</th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;">Charge Payer</th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <% @mappings.each do |mapping| %>
        <tr>
          <td><%= mapping.payment_system.username %></td>
          <td><%= mapping.merchant_ps_id %></td>
          <td><%= mapping.ps_percentage + mapping.ebilling_percentage %></td>
          <td><%= mapping.merchant.charge_payer? ? "YES" : "NO" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/will_paginate', collection: @mappings -%>