<tr class="<%= cycle('odd', 'even') -%>" id="ebilling-payment-account-row-<%= ebilling_payment_account.id -%>">
  <td class="center"><%= ebilling_payment_account.payment_system.username -%></td>
  <td class="center">
    <%= ebilling_payment_account.payment_id %>
  </td>
  <td>
    <%if can? :edit, ebilling_payment_account %>
      <%= link_to edit_ebilling_payment_account_path(ebilling_payment_account),  class: "btn btn-success" do -%>
          <i class="icon-eye icon-white"></i> <%= t "actions.edit" -%>
        <% end -%>
    <% end %>
    <%if can? :destroy, ebilling_payment_account %>
      <%= link_to ebilling_payment_account_path(ebilling_payment_account),  method: :delete, class: "btn btn-warning", confirm: 'Confirm to delete?' do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
        <% end -%>
    <% end %>
  </td>
</tr>