<%= form_for @ebilling_payment_account, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group <%= @ebilling_payment_account.errors[:payment_system_id].empty? ? '' : 'error' -%>">
      <%= f.label :payment_system, t("ebilling_payment_accounts.index.payment_system"), class: 'control-label' %>
      <div class="controls">
        <%= f.select :payment_system_id, User.payment_systems.collect { |u| [u.username, u.id] }, {}, 
          { :disabled => !@ebilling_payment_account.new_record? } %>
        <% @ebilling_payment_account.errors[:payment_system_id].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @ebilling_payment_account.errors[:payment_id].empty? ? '' : 'error' -%>">
      <%= f.label :payment_id, t("ebilling_payment_accounts.index.payment_id"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :payment_id %>
        <% @ebilling_payment_account.errors[:payment_id].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), ebilling_payment_accounts_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>