<legend>
  <div class="row-fluid">
    <div class="pull-right">
      <% if can?(:create, EbillingPaymentAccount) -%>
        <%= link_to new_ebilling_payment_account_path,  class: "btn btn-success" do -%>
          <i class="icon-plus icon-white"></i> <%= t "ebilling_payment_accounts.index.new_ebilling_payment_account" -%>
        <% end %>
      <% end -%>
    </div>
  </div>
</legend>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 350px;"><%= t "ebilling_payment_accounts.index.payment_system" -%></th>
        <th role="columnheader" tabindex="0"><%= t "ebilling_payment_accounts.index.payment_id" -%></th>
        <th role="columnheader" tabindex="0" style="width: 300px;"><%= t "ebilling_payment_accounts.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @ebilling_payment_accounts -%>
    </tbody>
  </table>
</div>