<tr class="<%= cycle('odd', 'even') -%>" id="currency-row-<%= currency.id -%>">
  <td class="center"><%= currency.code -%></td>
  <td class="center">
    <div>
      <% currency.fee_buckets.order('min_transactions').each do |fee_bucket| %>
        <div style="margin-bottom: 3px;">
          <div class="span3">
            Min Transactions: <%= fee_bucket.min_transactions %>
          </div>
          <div class="span3">
            Max Transactions: <%= fee_bucket.max_transactions %>
          </div>
          <div class="span3">
            Fee Value: <%= fee_bucket.fee_value %>
          </div>
          <div class="span3">
            <%= link_to edit_currency_fee_bucket_path(currency, fee_bucket), class: 'btn btn-primary' do %>
              <i class="icon-edit icon-white"></i>
            <% end %>
            <%= link_to currency_fee_bucket_path(currency, fee_bucket), method: :delete, class: 'btn btn-danger', confirm: 'Confirm to delete?' do %>
              <i class="icon-remove icon-white"></i>
            <% end %>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </td>
  <td>
    <%if can? :edit, currency %>
      <%= link_to new_currency_fee_bucket_path(currency.id),  class: "btn btn-success" do -%>
          <i class="icon-eye icon-white"></i> <%= t "actions.create_fee_bucket" -%>
        <% end -%>
    <% end %>
  </td>
</tr>