<%= form_for @currency, url: currencies_path, html: { class: 'form-horizontal strategy-form' } do |f| %>
  <fieldset>

    <div class="control-group<%= @currency.errors[:code].empty? ? '' : ' error' -%>">
      <%= f.label :code, class: 'control-label' do -%>
        <%= t "currency.form.code" -%><span class="text-error">(*)</span>
      <% end -%>
      <div class="controls">
        <%= f.select :code, currency_options, {}, class: 'span5' %>
        <% @currency.errors[:code].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), currencies_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>