<tr class="<%= cycle('odd', 'even') -%>" id="mobile-trace-row-<%= mobile_trace.id -%>">
  <td class="center"><%= mobile_trace.device_id -%></td>
  <td class="center"><%= mobile_trace.stack_trace -%></td>
  <td class="center"><%= mobile_trace.created_at -%></td>
  <td class="center">
    <% if can?(:delete, mobile_trace) -%>
      <%= link_to mobile_trace_path(mobile_trace),  method: :delete, class: "btn btn-danger", confirm: t("mobile_traces.index.confirm_delete") do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
      <% end -%>
    <% end -%>
  </td>
</tr>