<%= render 'shared/will_paginate', collection: @mobile_traces -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th role="columnheader" tabindex="0" style="width: 150px;"><%= t "mobile_traces.index.imei" -%></th>
        <th role="columnheader" tabindex="0"><%= t "mobile_traces.index.trace" -%></th>
        <th role="columnheader" tabindex="0" style="width: 150px;"><%= t "mobile_traces.index.created_at" -%></th>
        <th role="columnheader" tabindex="0" style="width: 100px;"><%= t "mobile_traces.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @mobile_traces -%>
    </tbody>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @mobile_traces -%>