<tr class="<%= cycle('odd', 'even') -%>" id="batch-file-row-<%= batch_file.id -%>">
  <td class="center"><%= File.basename(batch_file.file.current_path) -%></td>
  <td><%= batch_file.created_at.to_s(:db)  -%></td>
  <td class="center"><%= batch_file.state -%></td>
  <td class="center"><%= batch_file.provisioned -%></td>
  <td class="center"><%= batch_file.succeeded -%></td>
  <td class="center"><%= batch_file.failed -%></td>
  <td class="center">
    <%= link_to t("batch_files.index.view_ebills"), e_bills_path(batch_file_id: batch_file.id), class: "btn btn-success" -%>
  </td>
</tr>