<legend>
  <div class="pull-right">
    <% if can? :read, BatchFile -%>
      <%= link_to batch_files_path,  class: "btn btn-success" do -%>
         <%= t "batch_files.index.refresh" -%>
      <% end %>
    <% end -%>

    <% if can? :create, BatchFile -%>
      <%= link_to new_batch_file_path,  class: "btn btn-warning", id: 'batch-provision' do -%>
        <i class="icon-plus icon-white"></i> <%= t "batch_files.index.batch_provisioning" -%>
      <% end %>
    <% end -%>

    <%= link_to '/Facture.xlsx',  class: "btn btn-warning", id: 'batch-template' do -%>
      <%= t "batch_files.index.download_batch_template" -%>
    <% end %>
  </div>

  <div class="row-fluid">
    <%= t "batch_files.index.all" -%>
  </div>
</legend>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "batch_files.index.batch_file" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "batch_files.index.uploaded_at" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "batch_files.index.state" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;"><%= t "batch_files.index.total_provisioned" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;"><%= t "batch_files.index.total_succeeded" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;"><%= t "batch_files.index.total_failed" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;"><%= t "batch_files.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @batch_files -%>
    </tbody>
  </table>
</div>