<legend><%= t "batch_files.index.batch_provisioning" -%></legend>
<%= form_for @batch_file, html: { class: 'form-horizontal' } do |f| -%>
  <fieldset>

    <div class="control-group<%= @batch_file.errors[:file].empty? ? '' : ' error' %>">
      <%= f.label :file, class: 'control-label' do -%>
        <%= t "batch_files.new.select_file" -%>
      <% end -%>
      <div class="controls">
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span><%= t "batch_files.new.select_file" -%>...</span>
          <!-- The file input field used as target for the file upload widget -->
          <%= f.file_field :file, class: 'file-upload' %>
        </span>

        <!-- The global progress bar -->
        <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
        </div>
      </div>
    </div>

  </fieldset>
<% end -%>
