<%= form_for @user, url: form_url, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>

    <div class="control-group <%= @user.errors[:username].empty? ? '' : 'error' -%>">
      <%= f.label :username, t("users.index.username"), class: 'control-label' %>
      <div class="controls">
        <% if @user.new_record? -%>
          <%= f.text_field :username, class: 'span5' %>
        <% else -%>
          <%= f.text_field :username, class: 'span5', disabled: true, readonly: true %>
        <% end -%>
        <% @user.errors[:username].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <% if current_user.has_profile? Profile::ADMIN %>
      <div class="control-group <%= @user.errors[:password].empty? ? '' : 'error' -%>">
        <%= f.label :password, t("users.index.password"), class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, class: 'span5' %>
          <% @user.errors[:password].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="control-group <%= @user.errors[:password_confirmation].empty? ? '' : 'error' -%>">
        <%= f.label :password_confirmation, t("users.index.password_confirmation"), class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation, class: 'span5' %>
          <% @user.errors[:password_confirmation].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>
    <% end %>

    <div class="control-group <%= @user.errors[:first_name].empty? ? '' : 'error' -%>">
      <%= f.label :first_name, t("users.index.first_name"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, class: 'span5' %>
        <% @user.errors[:first_name].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:last_name].empty? ? '' : 'error' -%>">
      <%= f.label :last_name, t("users.index.last_name"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, class: 'span5' %>
        <% @user.errors[:last_name].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:email].empty? ? '' : 'error' -%>">
      <%= f.label :email, t("users.index.email"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, class: 'span5' %>
        <% @user.errors[:email].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:msisdn].empty? ? '' : 'error' -%>">
      <%= f.label :msisdn, t("users.index.msisdn"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :msisdn, class: 'span5' %>
        <% @user.errors[:msisdn].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:city].empty? ? '' : 'error' -%>">
      <%= f.label :city, t("users.index.city"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, class: 'span5' %>
        <% @user.errors[:city].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @user.errors[:address].empty? ? '' : 'error' -%>">
      <%= f.label :address, t("users.index.address"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :address, class: 'span7', rows: 2 -%>
        <% @user.errors[:address].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :zipcode, t("users.index.zipcode"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :zipcode, class: 'span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :website, t("users.index.website") + '*', class: 'control-label' -%>
      <div class="controls">
        <%= f.text_field :website, class: 'span7' -%>
      </div>
    </div>

    <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>

      <div class="control-group">
        <%= f.label :tax_rate, t("users.index.tax_rate"), class: 'control-label' -%>
        <div class="controls">
          <%= f.text_field :tax_rate, class: 'span7' -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notification_url, t("users.index.notification_url") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.text_field :notification_url, class: 'span7' -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notification_params, t("users.index.notification_params") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.collection_check_boxes :notification_params, User::NOTIFICATION_PARAMS, 
            :to_s, :to_s do |b| -%>
            
              <%= b.check_box(class: "check-box") -%><%= b.label class: "check-box" -%>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notification_post, t("users.index.notification_post") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.check_box :notification_post -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :additional_notification_params, t("users.index.additional_notification_params") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.text_field :additional_notification_params, class: 'span7' -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :legal_info, t("users.index.legal_info") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.text_field :legal_info, class: 'span7' -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :greeting_message, t("users.index.greeting_message") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.text_field :greeting_message, class: 'span7' -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email_notification, t("users.index.email_notification") + '*', class: 'control-label' -%>
        <div class="controls">
          <%= f.check_box :email_notification -%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :charge_payer, t("users.index.charge_payer"), class: 'control-label' -%>
        <div class="controls">
          <%= f.check_box :charge_payer -%>
        </div>
      </div>
    <% end %>

    <% if @current_user.has_role?("UserManager") -%>
      <div class="control-group<%= @user.errors[:profiles].empty? ? '' : ' error' %>">
        <%= f.label :profiles, t("users.index.profiles"), class: 'control-label' %>
        <div class="controls">
          <% unless @user.errors[:profiles].empty? -%>
            <div class="row-fluid">
              <% @user.errors[:profiles].each do |error| -%>
                <span class="help-inline"><%= error -%></span>
              <% end -%>
            </div>
            <% end -%>

          <%= collection_check_boxes :user, :profile_ids, Profile.all, :id, :name do |b| %>
            <div class="span2">
              <%= b.check_box(class: "check-box", id: "#{b.text.underscore}") -%><%= b.label class: "check-box" -%>
            </div>
          <% end %>
        </div>
      </div>

      <div id="payment-system-selector" class="control-group<%= @user.errors[:payment_system_id].empty? ? '' : ' error' %>" style="display:none;">
        <%= f.label :payment_system_id, t("users.index.payment_system"), class: 'control-label' %>
        <div class="controls">
          <%= f.select :payment_system_id, User.payment_systems.collect {|ps| [ps.username, ps.id]}, 
            {}, class: 'span5' %>
          <% @user.errors[:payment_system_id].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>
    <% end -%>

    <% if current_user.has_profile?(Profile::ADMIN) || current_user.has_profile?(Profile::MERCHANT) %>
      <div class="control-group <%= @user.errors[:currency].empty? ? '' : ' error' -%>">
        <%= f.label :currency, class: 'control-label' do -%>
          <%= t "users.form.currency" -%><span class="text-error">(*)</span>
        <% end -%>
        <div class="controls">
          <%= f.select :currency, currency_options, {}, class: 'span5' %>
          <% @user.errors[:currency].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>


      <div class="control-group <%= @user.errors[:logo].empty? ? '' : 'error' -%>">
        <%= f.label :logo, t("users.index.logo"), class: 'control-label' -%>
        <div class="controls">
          <%= f.file_field :logo -%>
          <%= f.hidden_field :logo_cache %>
          <% @user.errors[:logo].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
          <div>
            <%= image_tag(@user.logo_url) if @user.logo? %>
          </div>
        </div>
      </div>

      <div class="control-group <%= @user.errors[:signature].empty? ? '' : 'error' -%>">
        <%= f.label :signature, t("users.index.signature"), class: 'control-label' -%>
        <div class="controls">
          <%= f.file_field :signature -%>
          <%= f.hidden_field :signature_cache %>
          <% @user.errors[:signature].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
          <div>
            <%= image_tag(@user.signature_url) if @user.signature? %>
          </div>
        </div>
      </div>
    <% end %>
    <div>* <%= t('users.index.notification_tip') -%></div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), users_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<% if current_user.has_profile? Profile::ADMIN %>

  <script type="text/javascript">
    function setPaymentSystemSelector() {
      if($("#payment_system_operator").is(":checked")) {
        $("#payment-system-selector").show();
      }else {
        $("#payment-system-selector").hide();
      }
    }

    $(document).ready(function() {
      setPaymentSystemSelector();

      $("#payment_system_operator").change(function() {
        setPaymentSystemSelector();
      });
    });
  </script>
<% end %>