<tr class="<%= cycle('odd', 'even') -%>" id="user-row-<%= user.id -%>">
  <td class="center"><%= user.username -%></td>
  <td class="center">
    <% user.profiles.each do |profile| -%>
      <%= profile.name -%> <br/>
    <% end -%>
  </td>
  <td class="center"><%= user.e_bills_count -%></td>
  <td class="center">
    <%= link_to user_path(user),  class: "btn btn-success" do -%>
        <i class="icon-zoom-in icon-white"></i> <%= t "actions.view" -%>
    <% end -%>

    <% if can?(:edit, user) -%>
      <%= link_to edit_user_path(user),  class: "btn btn-warning" do -%>
          <i class="icon-edit icon-white"></i> <%= t "actions.edit" -%>
      <% end -%>
    <% end -%>

    <% if can?(:delete, user) -%>
      <%= link_to user_path(user),  method: :delete, class: "btn btn-danger", confirm: t("users.index.confirm_delete") do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
      <% end -%>
    <% end -%>

    <% if user.e_bills_count > 0 -%>
      <%= link_to e_bills_path(by_user_id: user.id),  class: "btn btn-success" do -%>
          <i class="icon-eye icon-white"></i> <%= t "actions.view_ebills" -%>
      <% end -%>
    <% end -%>

  </td>
</tr>