<legend>
  <div class="row-fluid">
    <div class="pull-right">
      <% if can?(:create, User) -%>
        <%= link_to new_user_path,  class: "btn btn-success" do -%>
          <i class="icon-plus icon-white"></i> <%= t "users.index.new_user" -%>
        <% end %>
      <% end -%>
    </div>

    <%= render :partial => 'shared/search_form', :locals => { :path => users_path } -%>
  </div>
</legend>

<%= render 'shared/will_paginate', collection: @users -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 188px;"><%= t "users.index.name" -%></th>
        <th role="columnheader" tabindex="0" style="width: 200px;"><%= t "users.index.profiles" -%></th>
        <th role="columnheader" tabindex="0" style="width: 100px;"><%= t "users.index.total_ebills" -%></th>
        <th role="columnheader" tabindex="0"><%= t "users.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @users -%>
    </tbody>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @users -%>