<legend>
  <div class="pull-right">
    <% if can?(:edit, @user) -%>
      <%= link_to edit_user_path(@user),  class: "btn btn-warning" do -%>
        <i class="icon-edit icon-white"></i> <%= t "users.edit.edit_user" -%>
      <% end %>
    <% end -%>

    <%= link_to users_path,  class: "btn btn-primary" do -%>
      <i class="icon-chevron-left icon-white"></i> <%= t "actions.back" -%>
    <% end %>

  </div>

  <%= @user.username %>
</legend>

<div class="show-group">
  <div class="show-label"><%= t "users.index.first_name" -%> : </div>
  <div class="show-content">
    <%= @user.first_name -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.last_name" -%> : </div>
  <div class="show-content">
    <%= @user.last_name -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.email" -%> : </div>
  <div class="show-content">
    <%= @user.email -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.msisdn" -%> : </div>
  <div class="show-content">
    <%= @user.msisdn -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.city" -%> : </div>
  <div class="show-content">
    <%= @user.city -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.address" -%> : </div>
  <div class="show-content">
    <%= @user.address -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.zipcode" -%> : </div>
  <div class="show-content">
    <%= @user.zipcode -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.website" -%> : </div>
  <div class="show-content">
    <%= @user.website -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.last_sign_in_at" -%> : </div>
  <div class="show-content">
    <%= @user.last_sign_in_at.to_s(:db) if @user.last_sign_in_at -%>
  </div>
</div>
<div class="clearfix"></div>

<% if @user.has_profile?(Profile::MERCHANT) || @user.has_profile?(Profile::EBILL_CREATOR) %>
  <div class="show-group">
    <div class="show-label"><%= t "users.index.shared_key" -%> : </div>
    <div class="show-content">
      <span id='shared_key'><%= @user.shared_key -%></span>
      <%= link_to "Regenerate", shared_keys_path(user_id: @user.id, format: :js), class: 'btn btn-warning', remote: true, method: :put, confirm: t("users.edit.confirm_regenerate") %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>

<div class="show-group">
  <div class="show-label"><%= t "users.index.tax_rate" -%> : </div>
  <div class="show-content">
    <%= @user.tax_rate -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.notification_url" -%> : </div>
  <div class="show-content">
    <%= @user.notification_url -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.notification_params" -%> : </div>
  <div class="show-content">
    <% if @user.notification_params.present? %>
      <% @user.notification_params.each do |param_name| -%>
        <%= param_name -%><br/>
      <% end -%>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.notification_post" -%> : </div>
  <div class="show-content">
    <%= @user.notification_post? ? 'true' : 'false' -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.additional_notification_params" -%> : </div>
  <div class="show-content">
    <%= @user.additional_notification_params -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.legal_info" -%> : </div>
  <div class="show-content">
    <%= @user.legal_info -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.greeting_message" -%> : </div>
  <div class="show-content">
    <%= @user.greeting_message -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.email_notification" -%> : </div>
  <div class="show-content">
    <%= @user.email_notification? ? 'true' : 'false' -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "users.index.charge_payer" -%> : </div>
  <div class="show-content">
    <%= @user.charge_payer? ? 'true' : 'false' -%>
  </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label">Profiles : </div>
  <div class="show-content">
    <%= "No profiles" if @user.profiles.empty? -%>
    <% @user.profiles.each do |profile| -%>
      <div>
        <%= profile.name -%> - <%= profile.description -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="clearfix"></div>

<%if @user.has_profile?(Profile::PAYMENT_SYSTEM_OPERATOR) %>
  <div class="show-group">
    <div class="show-label">Payment System : </div>
    <div class="show-content">
      <% if @user.payment_system.present? %>
        <%= link_to @user.payment_system.username, user_path(@user.payment_system), target: '_blank' %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="show-group">
    <div class="show-label">Merchant List : </div>
    <div class="show-content">
      <% if @user.payment_system.present? %>
        <table class="table table-striped table-bordered bootstrap-datatable">
          <thead>
            <tr>
              <td>Merchant name</td>
              <td>Merchant PS ID</td>
              <td>PS %</td>
            </tr>
          </thead>
          <tbody>
            <% MerchantPaymentSystemMapping.where("payment_system_id = ?", @user.payment_system.id).each do |mapping| %>
              <tr>
                <td><%= link_to mapping.merchant.username, user_path(mapping.merchant), target: '_blank' %></td>
                <td><%= mapping.merchant_ps_id %></td>
                <td><%= mapping.ps_percentage %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>

<% if @user.has_profile?(Profile::MERCHANT) %>
  <div class="show-group">
    <div class="show-label"><%= t "users.index.currency" -%> : </div>
    <div class="show-content">
      <%= @user.currency -%>
    </div>
  </div>
  
  <div class="clearfix"></div>
<% end %>

<% if @user.logo? -%>
  <div class="show-group">
    <div class="show-label"><%= t "users.index.logo" -%> : </div>
    <div class="show-content">
      <%= image_tag(@user.logo_url) -%>
    </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @user.signature? -%>
  <div class="show-group">
    <div class="show-label"><%= t "users.index.signature" -%> : </div>
    <div class="show-content">
      <%= image_tag(@user.signature_url) -%>
    </div>
  </div>
  <div class="clearfix"></div>
<% end -%>
