<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <div class="control-group">
      <%= f.label :username, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :autofocus => true, :class => 'span5' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), root_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>
