<%= form_tag path, method: :get, class: "form-search", id: "search-form" do -%>
  <%= text_field_tag 'query', @query, placeholder: t("search.search"), class: "input-medium search-query" -%>
  <% if @kept_params -%>
    <% @kept_params.each do |key, value| -%>
      <%= hidden_field_tag key, value -%>
    <% end -%>
  <% end -%>
  <%= submit_tag t("search.search"), class: "btn btn-success" -%>
<% end -%>