<%= t "templates.show.parameters" -%>:

<ul>
  <li>{0} Merchant name</li>
  <li>{1} eBill ID</li>
  <li>{2} Amount</li>
  <li>{3} Short description</li>
  <li>{4} Due date</li>
  <li>{5} External reference</li>
  <li>{6} Merchant Id</li>
  <li>{7} Customer Id</li>
  <li>{8} Client transaction Id</li>
  <li>{9} Additional Notif params</li>
  <li>{10} Amount paid</li>
</ul>