<legend>Edit templates</legend>

<%= form_tag settings_path, method: :patch, class: 'form-horizontal' do |f| -%>
  <fieldset>
    <div class="control-group">
      <%= label_tag 'sms_template', t("templates.show.sms_template"), class: 'control-label' -%>
      <div class="controls">
        <%= text_area_tag 'sms_template', Settings.sms_template, class: 'span9', rows: 3, cols: 120 %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'sms_instructions_template', t("templates.show.sms_instructions_template"), class: 'control-label' -%>
      <div class="controls">
        <%= text_area_tag 'sms_instructions_template', Settings.sms_instructions_template, class: 'span9', rows: 3, cols: 120 %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'paid_sms_template', t("templates.show.paid_sms_template"), class: 'control-label' -%>
      <div class="controls">
        <%= text_area_tag 'paid_sms_template', Settings.paid_sms_template, class: 'span9', rows: 3, cols: 120 %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'receipt_email_subject_template', t("templates.show.receipt_email_subject_template"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'receipt_email_subject_template', Settings.receipt_email_subject_template, class: 'span9' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'receipt_email_template', t("templates.show.receipt_email_template"), class: 'control-label' -%>
      <div class="controls">
        <%= kindeditor_tag :receipt_email_template, Settings.receipt_email_template, :simple_mode => true, :langType => 'en', :width => 700, :height => 200 %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'invoice_email_subject_template', t("templates.show.invoice_email_subject_template"), class: 'control-label' -%>
      <div class="controls">
        <%= text_field_tag 'invoice_email_subject_template', Settings.invoice_email_subject_template, class: 'span9' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'invoice_email_template', t("templates.show.invoice_email_template"), class: 'control-label' -%>
      <div class="controls">
        <%= kindeditor_tag :invoice_email_template, Settings.invoice_email_template, :simple_mode => true, :langType => 'en', :width => 700, :height => 200 %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'disable_sms_and_email', t("templates.show.disable_sms_and_email"), class: 'control-label' -%>
      <div class="controls">
        <%= select_tag :disable_sms_and_email, options_for_select([['False', 'false'], ['True', 'true']], Settings.disable_sms_and_email) %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t("actions.update"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), settings_path, class: 'btn' %>
    </div>

  </fieldset>
<% end -%>

<%= render partial: 'params' -%>