<legend>
  <div class="pull-right">
    <% if can? :edit, Settings -%>
      <%= link_to edit_settings_path,  class: "btn btn-success", id: 'edit-settings' do -%>
        <i class="icon-edit icon-white"></i> <%= t "templates.edit_templates" -%>
      <% end %>
    <% end -%>

  </div>

  <div class="row-fluid">
    Templates
  </div>
</legend>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "templates.show.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "templates.show.value" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_template" -%></td>
        <td><%= Settings.sms_template -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.sms_instructions_template" -%></td>
        <td><%= Settings.sms_instructions_template -%>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.paid_sms_template" -%></td>
        <td><%= Settings.paid_sms_template -%></td>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.receipt_email_subject_template" -%></td>
        <td><%= Settings.receipt_email_subject_template -%>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.receipt_email_template" -%></td>
        <td><%= raw Settings.receipt_email_template -%>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.invoice_email_subject_template" -%></td>
        <td><%= Settings.invoice_email_subject_template -%>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.invoice_email_template" -%></td>
        <td><%= raw Settings.invoice_email_template -%>
      </tr>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= t "templates.show.disable_sms_and_email" -%></td>
        <td><%= raw Settings.disable_sms_and_email -%>
      </tr>
    </tbody>
  </table>
</div>

<%= render partial: 'params' -%>