<%= form_for @merchant_payment_system_mapping, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group <%= @merchant_payment_system_mapping.errors[:merchant_id].empty? ? '' : 'error' -%>">
      <%= f.label :merchant, t("merchant_payment_system_mappings.index.merchant"), class: 'control-label' %>
      <div class="controls">
        <%= f.select :merchant_id, User.merchants.collect { |u| [u.username, u.id] }, {}, 
          { :disabled => !@merchant_payment_system_mapping.new_record? } %>
        <% @merchant_payment_system_mapping.errors[:merchant_id].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @merchant_payment_system_mapping.errors[:payment_system_id].empty? ? '' : 'error' -%>">
      <%= f.label :payment_system, t("merchant_payment_system_mappings.index.payment_system"), class: 'control-label' %>
      <div class="controls">
        <%= f.select :payment_system_id, User.payment_systems.collect { |u| [u.username, u.id] },
          {}, { :disabled => !@merchant_payment_system_mapping.new_record? } %>
        <% @merchant_payment_system_mapping.errors[:payment_system_id].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @merchant_payment_system_mapping.errors[:merchant_ps_id].empty? ? '' : 'error' -%>">
      <%= f.label :merchant_ps_id, t("merchant_payment_system_mappings.index.merchant_ps_id"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :merchant_ps_id %>
        <% @merchant_payment_system_mapping.errors[:merchant_ps_id].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @merchant_payment_system_mapping.errors[:ps_percentage].empty? ? '' : 'error' -%>">
      <%= f.label :ps_percentage, t("merchant_payment_system_mappings.index.ps_percentage"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :ps_percentage %>
        <% @merchant_payment_system_mapping.errors[:ps_percentage].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= @merchant_payment_system_mapping.errors[:ebilling_percentage].empty? ? '' : 'error' -%>">
      <%= f.label :ebilling_percentage, t("merchant_payment_system_mappings.index.ebilling_percentage"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :ebilling_percentage %>
        <% @merchant_payment_system_mapping.errors[:ebilling_percentage].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), merchant_payment_system_mappings_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>