<tr class="<%= cycle('odd', 'even') -%>" id="mapping-row-<%= merchant_payment_system_mapping.id -%>">
  <td class="center"><%= merchant_payment_system_mapping.merchant.username -%></td>
  <td class="center"><%= merchant_payment_system_mapping.payment_system.username -%></td>
  <td class="center"><%= merchant_payment_system_mapping.merchant_ps_id -%></td>
  <td class="center"><%= number_to_percentage(merchant_payment_system_mapping.ps_percentage, precision: 2) -%></td>
  <td class="center"><%= number_to_percentage(merchant_payment_system_mapping.ebilling_percentage, precision: 2) -%></td>
  <td class="center"><%= number_to_percentage(merchant_payment_system_mapping.total_percentage, precision: 2) -%></td>
  <td class="center">
    <% if can?(:update, merchant_payment_system_mapping) -%>
      <%= link_to edit_merchant_payment_system_mapping_path(merchant_payment_system_mapping), class: "btn btn-warning" do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.edit" -%>
      <% end -%>
    <% end -%>

    <% if can?(:delete, merchant_payment_system_mapping) -%>
      <%= link_to merchant_payment_system_mapping_path(merchant_payment_system_mapping),  method: :delete, class: "btn btn-danger", confirm: t("merchant_payment_system_mapping.index.confirm_delete") do -%>
          <i class="icon-trash icon-white"></i> <%= t "actions.delete" -%>
      <% end -%>
    <% end -%>
  </td>
</tr>