<legend>
  <div class="row-fluid">
    <div class="pull-right">
      <% if can?(:create, User) -%>
        <%= link_to new_merchant_payment_system_mapping_path,  class: "btn btn-success" do -%>
          <i class="icon-plus icon-white"></i> <%= t "merchant_payment_system_mappings.index.new_mapping" -%>
        <% end %>
      <% end -%>
    </div>

    <%= render :partial => 'shared/search_form', :locals => { :path => merchant_payment_system_mappings_path } -%>
  </div>
</legend>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.merchant" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.payment_system" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.merchant_ps_id" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.ps_percentage" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.ebilling_percentage" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.total_percentage" -%></th>
        <th role="columnheader" tabindex="0"><%= t "merchant_payment_system_mappings.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @merchant_payment_system_mappings -%>
    </tbody>
  </table>
</div>