<tr class="<%= cycle('odd', 'even') -%>" id="audit-trail-row-<%= audit_trail.id -%>">
  <td class="center">
    <%= link_to audit_trail.server_transaction_id, audit_trail_path(audit_trail) -%>
  </td>
  <td class="center"><%= audit_trail.client_transaction_id -%></td>
  <td class="center"><%= audit_trail.action -%></td>
  <td class="center">
    <% if audit_trail.status == "success" %>
      <span class="label big-label label-success"><%= audit_trail.status -%></span>
    <% else %>
      <span class="label big-label label-important"><%= audit_trail.status -%></span>
    <% end %>

  </td>
  <td class="center"><%= audit_trail.bill_id -%></td>
  <td class="center"><%= state_label audit_trail.from -%></td>
  <td class="center"><%= state_label audit_trail.to -%></td>
  <td class="center"><%= audit_trail.created_at -%></td>

</tr>