<legend>
  <div class="row-fluid">

    <%= render :partial => 'shared/search_form', :locals => { :path => audit_trails_path } -%>
  </div>
</legend>

<%= render 'shared/will_paginate', collection: @audit_trails -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "audit_trails.index.server_transaction_id" -%></th>
        <th class="sorting" role="columnheader" tabindex="0" style="width: 120px;"><%= t "audit_trails.index.client_transaction_id" -%></th>
        <th class="sorting" role="columnheader" tabindex="0" style="width: 60px;"><%= t "audit_trails.index.action" -%></th>
        <th class="sorting" role="columnheader" tabindex="0" style="width: 60px;"><%= t "audit_trails.index.status" -%></th>
        <th class="sorting" role="columnheader" tabindex="0" style="width: 160px;"><%= t "audit_trails.index.bill_id" -%></th>
        <th role="columnheader" tabindex="0" style="width: 80px;"><%= t "audit_trails.index.from" -%></th>
        <th role="columnheader" tabindex="0" style="width: 80px;"><%= t "audit_trails.index.to" -%></th>
        <th role="columnheader" tabindex="0"><%= t "audit_trails.index.created_at" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @audit_trails -%>
    </tbody>
  </table>
</div>


<%= render 'shared/will_paginate', collection: @audit_trails -%>