<legend>
  <div class="pull-right">
    <%= link_to "Back", :back, class: "btn btn-primary" -%>
  </div>

  <%= t "audit_trails.audit_trail" -%> <%= @audit_trail.server_transaction_id %>
</legend>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.server_transaction_id" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.server_transaction_id -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.client_transaction_id" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.client_transaction_id -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.action" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.action -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.status" -%> : </div>
    <div class="show-content">
      <% if @audit_trail.status == "success" %>
        <span class="label big-label label-success"><%= @audit_trail.status -%></span>
      <% else %>
        <span class="label big-label label-important"><%= @audit_trail.status -%></span>
      <% end %>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.bill_id" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.bill_id -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.from" -%> : </div>
    <div class="show-content">
      <%= state_label @audit_trail.from -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.to" -%> : </div>
    <div class="show-content">
      <%= state_label @audit_trail.to -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.created_at" -%>: </div>
    <div class="show-content">
      <%= @audit_trail.created_at -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.context" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.context -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.operator" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.operator -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.params" -%> : </div>
    <div class="show-content">
      <div style="word-wrap: break-word; max-width: 600px;">
        <%= @audit_trail.params -%>
      </div>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "audit_trails.index.error_messages" -%> : </div>
    <div class="show-content">
      <%= @audit_trail.error_messages -%>
   </div>
</div>
<div class="clearfix"></div>

