<tr class="<%= cycle('odd', 'even') -%>" id="e-bill-row-<%= e_bill.id -%>">
  <td class="center">
    <%= link_to e_bill.bill_id, e_bill_path(e_bill) -%>
  </td>
  <td><%= e_bill.merchant_internal_ref -%></td>
  <td class="center"><%= e_bill.amount -%></td>
  <td class="center"><%= e_bill.short_description -%></td>
  <td class="center"><%= e_bill.payee_name -%></td>
  <td class="center"><%= e_bill.payer_msisdn -%></td>

  <td class="center"><span class="label big-label label-<%= e_bill.state -%>"><%= e_bill.state -%></span></td>
  <td class="center">
    <%= render 'e_bill_state_events', e_bill: e_bill -%>
  </td>
</tr>