<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.bill_id" -%> : </div>
    <div class="show-content">
      <%= @e_bill.bill_id -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_email" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_email -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_name" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_name -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_address" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_address -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_city" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_city -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_msisdn" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_msisdn -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.state" -%> : </div>
    <div class="show-content">
      <span class="label big-label label-<%= @e_bill.state -%>"><%= @e_bill.state -%></span>
   </div>
</div>
<div class="clearfix"></div>

<% if @e_bill.sent_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.sent_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.sent_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @e_bill.cancelled_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.cancelled_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.cancelled_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @e_bill.paid_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.paid_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.paid_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @e_bill.expired_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.expired_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.expired_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @e_bill.processed_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.processed_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.processed_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<% if @e_bill.failed_at -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.failed_at" -%> : </div>
      <div class="show-content">
        <%= @e_bill.failed_at.to_s(:db)  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.amount" -%> : </div>
    <div class="show-content">
      <%= @e_bill.amount -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.currency" -%> : </div>
    <div class="show-content">
      <%= @e_bill.currency -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.amount_paid" -%> : </div>
    <div class="show-content">
      <%= @e_bill.amount_paid -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.last_paid_amount" -%> : </div>
    <div class="show-content">
      <%= @e_bill.last_paid_amount.try(:to_f) -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.accept_partial_payment" -%> : </div>
    <div class="show-content">
      <%= @e_bill.accept_partial_payment? ? 'Yes' : 'No' -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.minimum_amount" -%> : </div>
    <div class="show-content">
      <%= @e_bill.minimum_amount -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.short_description" -%> : </div>
    <div class="show-content">
      <%= @e_bill.short_description -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.notification_method" -%> : </div>
    <div class="show-content">
      <% if @e_bill.email? -%>Email <br/><% end -%>
      <% if @e_bill.sms? -%>SMS <br/> <% end -%>
   </div>
</div>
<div class="clearfix"></div>


<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.expire_at" -%> : </div>
    <div class="show-content">
      <%= @e_bill.expire_at -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.expiry_period" -%> : </div>
    <div class="show-content">
      <%= @e_bill.expiry_period -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.schedule_at" -%> : </div>
    <div class="show-content">
      <%= @e_bill.schedule_at -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.due_date" -%> : </div>
    <div class="show-content">
      <%= @e_bill.due_date.to_s(:db) if @e_bill.due_date -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.merchant_internal_ref" -%> : </div>
    <div class="show-content">
      <%= @e_bill.merchant_internal_ref -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payee" -%> : </div>
    <div class="show-content">
      <%= @e_bill.user.username -%>
   </div>
</div>
<div class="clearfix"></div>

<%if @e_bill.payment_system.present? %>
  <div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payment_system" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payment_system.username -%>
   </div>
  </div>
<div class="clearfix"></div>
<% end %>

<div class="show-group">
  <div class="show-label"><%= t "e_bills.form.ps_transaction_id" -%> : </div>
  <div class="show-content">
    <%= @e_bill.ps_transaction_id -%>
 </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.additional_info" -%> : </div>
    <div class="show-content">
      <%= @e_bill.additional_info -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_id" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_id -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.payer_code" -%> : </div>
    <div class="show-content">
      <%= @e_bill.payer_code -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data0" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data0 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data1" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data1 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data2" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data2 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data3" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data3 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data4" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data4 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data5" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data5 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data6" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data6 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data7" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data7 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data8" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data8 -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.data9" -%> : </div>
    <div class="show-content">
      <%= @e_bill.data9 -%>
   </div>
</div>
<div class="clearfix"></div>



<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.description" -%> : </div>
    <div class="show-content">
      <%= @e_bill.description -%>
   </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
    <div class="show-label"><%= t "e_bills.form.created_at" -%> : </div>
    <div class="show-content">
      <%= @e_bill.created_at.to_s(:db)  -%>
   </div>
</div>
<div class="clearfix"></div>

<% unless @e_bill.reason.blank? -%>
  <div class="show-group">
      <div class="show-label"><%= t "e_bills.form.reason" -%> : </div>
      <div class="show-content">
        <%= @e_bill.reason  -%>
     </div>
  </div>
  <div class="clearfix"></div>
<% end -%>

<div class="show-group">
  <div class="show-label"><%= t "e_bills.form.traffic_fee" -%> : </div>
  <div class="show-content">
    <%= @e_bill.traffic_fee.format  -%>
 </div>
</div>
<div class="clearfix"></div>

<div class="show-group">
  <div class="show-label"><%= t "e_bills.form.ps_transaction_fee" -%> : </div>
  <div class="show-content">
    <%= @e_bill.ps_transaction_fee.format  -%>
 </div>
</div>
<div class="clearfix"></div>