<legend><%= (state_events_for_display @state_event).camelize -%> EBill <%= @e_bill.bill_id -%></legend>

<%= form_for @e_bill, method: :put, html: { class: 'form-horizontal' } do |f| -%>
  <fieldset>
    <%= f.hidden_field :state_event, value: @state_event -%>

    <div class="control-group<%= @e_bill.errors[:reason].empty? ? '' : ' error' %>">
      <%= f.label :reason, t("e_bills.form.reason"), class: 'control-label' -%>
      <div class="controls">
        <%= f.text_area :reason, class: 'span9', row: '3' %>
        <% @e_bill.errors[:reason].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("e_bills.form.update"),  class: "btn btn-primary" %>
      <%= link_to t("e_bills.form.cancel"), e_bills_path, class: 'btn' %>
    </div>

  </fieldset>

<% end -%>