<legend>
  <div class="pull-right">
    <% if can? :create, EBill -%>
      <%= link_to new_e_bill_path,  class: "btn btn-success", id: 'create-e-bill' do -%>
        <i class="icon-plus icon-white"></i> <%= t "e_bills.index.new_e_bill" -%>
      <% end %>
    <% end -%>

    <% if can? :create, BatchFile -%>
      <%= link_to new_batch_file_path,  class: "btn btn-warning", id: 'batch-provision' do -%>
        <i class="icon-plus icon-white"></i> <%= t "e_bills.index.batch_provisioning" -%>
      <% end %>
    <% end -%>

    <%= link_to new_e_bill_exports_path(export_type: 'excel'), class: "btn btn-success" do %>
      <%= t "e_bills.index.export_to_excel" -%>
    <% end %>

    <%= link_to new_e_bill_exports_path(export_type: 'pdf'), class: "btn btn-success" do %>
      <%= t "e_bills.index.export_to_pdf" -%>
    <% end %>
  </div>

  <div class="row-fluid">
    <%= t "e_bills.index.all" -%>
    <%= " by #{@by_user.username}" if @by_user -%>
    <% if @by_state -%>
      <%= "(#{@by_state})" -%>
    <% end -%>
    <% if @overdue -%>
      <%= "(#{t('e_bills.index.overdue')})" -%>
    <% end -%>
    <%= render :partial => 'shared/search_form', :locals => { :path => e_bills_path } -%>
  </div>
</legend>

<%= render 'shared/will_paginate', collection: @e_bills -%>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "e_bills.index.bill_id" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "e_bills.index.merchant_internal_ref" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 60px;"><%= t "e_bills.index.amount" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 120px;"><%= t "e_bills.index.short_description" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 100px;"><%= t "e_bills.index.payee_id" -%></th>
        <th class="sorting_asc" role="columnheader" tabindex="0" style="width: 100px;"><%= t "e_bills.index.payer_msisdn" -%></th>
        <th role="columnheader" tabindex="0" style="width: 80px;"><%= t "e_bills.index.state" -%></th>
        <th role="columnheader" tabindex="0"><%= t "e_bills.index.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @e_bills -%>
    </tbody>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @e_bills -%>