<%= form_for @e_bill do |f| %>
  <fieldset>
    <legend>
      <div class="pull-right">
        <%= f.submit t("e_bills.form.save_changes"),  class: "btn btn-primary" %>
        <%= link_to t("e_bills.form.cancel"), e_bills_path, class: 'btn' %>
      </div>
      Summary Information - mandatory
    </legend>
    <div style="padding: 20px; background-color: #F5F5F5; border-width: 1px; border-color: #DDDDDD; border-style: solid;">
      <% if current_user.has_profile?(Profile::ADMIN) -%>
        <div class="control-group<%= @e_bill.errors[:user_id].empty? ? '' : ' error' %>">
          <%= f.label :user_id, class: 'control-label' do %>
              <%= t('e_bills.form.merchant') %> <span class="text-error">(*)</span>
          <% end %>
          <%= f.select :user_id,
                User.merchants.collect { |merchant| [merchant.username, merchant.id] } -%>
          <% @e_bill.errors[:user_id].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      <% end -%>

      <div class="row-fluid">
        <div class="span4">
          <div class="form-group">
            <%= f.label :payer_name,  class: 'control-label' do -%>
              <%= t "e_bills.form.payer_name" -%> <span class="text-error">(*)</span>
            <% end -%>
            <%= f.text_field :payer_name, class: 'span12' %>
            <% @e_bill.errors[:payer_name].each do |error| -%>
              <span class="help-inline"><%= error -%></span>
            <% end -%>
          </div>
        </div>

        <div class="span4<%= @e_bill.errors[:description].empty? ? '' : ' error' %>">
          <%= f.label :payer_msisdn,  class: 'control-label' do -%>
            <%= t "e_bills.form.payer_msisdn" -%><span class="text-error">(*)</span>
          <% end -%>
          <%= f.text_field :payer_msisdn, class: 'span12' %>
          <% @e_bill.errors[:payer_msisdn].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :payer_email, class: 'control-label' do |f| %>
            <%= t('e_bills.form.payer_email') %><span class="text-error">(*)</span>
          <% end %>
          <%= f.text_field :payer_email, class: 'span12' %>
          <% @e_bill.errors[:payer_email].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :amount, class: 'control-label' do -%>
            <%= t "e_bills.form.amount" -%><span class="text-error">(*)</span>
          <% end -%>
          <%= f.text_field :amount, class: 'span12' %>
          <% @e_bill.errors[:amount].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span8">
          <%= f.label :short_description, class: 'control-label' do -%>
            <%= t "e_bills.form.short_description" -%><span class="text-error">(*)</span>
          <% end -%>
          <%= f.text_field :short_description, class: 'span12' %>
          <% @e_bill.errors[:short_description].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>
    </div>

    <legend>Detailed information - Optional</legend>
    <div style="padding: 20px; background-color: #F5F5F5; border-width: 1px; border-color: #DDDDDD; border-style: solid;">
      <div class="row-fluid">
        <div class="span4">
          <%= f.label :notification, t("e_bills.form.notification_method"), class: 'control-label' -%>  
        </div>
        <div class="span4">
          <%= f.label :email, 'Email', class: "check-box", style: "margin-right: 15px;" -%>
          <%= f.check_box :email, class: 'check-box' -%>
        </div>
        <div class="span4">
          <%= f.label :sms, 'SMS', class: "check-box", style: "margin-right: 15px;" -%>
          <%= f.check_box :sms, class: 'check-box' -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :accept_partial_payment, '', class: 'control-label' -%>
          <div style="margin-left: 50px;">
            <%= f.check_box :accept_partial_payment, class: 'check-box' %>
          </div>
          <% @e_bill.errors[:accept_partial_payment].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :minimum_amount, class: 'control-label' do |f| -%>
             <%= t "e_bills.form.minimum_amount" -%><span class="text-error">(**)</span>
          <% end %>
          <%= f.text_field :minimum_amount, class: 'span12' %>
          <% @e_bill.errors[:minimum_amount].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :merchant_internal_ref, t("e_bills.form.merchant_internal_ref"), class: 'control-label' %>
          <%= f.text_field :merchant_internal_ref, class: 'span12' %>
          <% @e_bill.errors[:merchant_internal_ref].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :payer_id, t("e_bills.form.payer_id"), class: 'control-label' %>
          <%= f.text_field :payer_id, class: 'span12' %>
        </div>

        <div class="span4">
          <%= f.label :payer_address,  class: 'control-label' do -%>
            <%= t "e_bills.form.payer_address" -%>
          <% end -%>
          <%= f.text_field :payer_address, class: 'span12' %>
          <% @e_bill.errors[:payer_address].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :payer_city,  class: 'control-label' do -%>
            <%= t "e_bills.form.payer_city" -%>
          <% end -%>
          <%= f.text_field :payer_city, class: 'span12' %>
          <% @e_bill.errors[:payer_city].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <%= f.label :description, t("e_bills.form.description"), class: 'control-label' %>
          <%= f.text_field :description, class: 'span12' %>
          <% @e_bill.errors[:description].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <%= f.label :additional_info, t("e_bills.form.additional_info"), class: 'control-label' %>
          <%= f.text_field :additional_info, class: 'span12' %>
          <% @e_bill.errors[:additional_info].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :due_date, t("e_bills.form.due_date"), class: 'control-label' %>  
          <div class="datepicker input-append" style="width: 100%;">
            <%= f.text_field :due_date,  "data-format" => 'dd/MM/yyyy', class: 'span11' -%>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
          <% @e_bill.errors[:due_date].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :expire_at, t("e_bills.form.expire_at"), class: 'control-label' %>
          <div class="datetimepicker input-append" style="width: 100%">
            <%= f.text_field :expire_at, "data-format" => 'dd/MM/yyyy hh:mm:ss', class: 'span11' -%>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
          <% @e_bill.errors[:expire_at].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>
        </div>

        <div class="span4">
          <%= f.label :data0, t("e_bills.form.data0"), class: 'control-label' %>
          <%= f.text_field :data0, class: 'span12' %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :data1, t("e_bills.form.data1"), class: 'control-label' %>
          <%= f.text_field :data1, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data2, t("e_bills.form.data2"), class: 'control-label' %>
          <%= f.text_field :data2, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data3, t("e_bills.form.data3"), class: 'control-label' %>
          <%= f.text_field :data3, class: 'span12' %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :data4, t("e_bills.form.data4"), class: 'control-label' %>
          <%= f.text_field :data4, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data5, t("e_bills.form.data5"), class: 'control-label' %>
          <%= f.text_field :data5, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data6, t("e_bills.form.data6"), class: 'control-label' %>
          <%= f.text_field :data6, class: 'span12' %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <%= f.label :data7, t("e_bills.form.data7"), class: 'control-label' %>
          <%= f.text_field :data7, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data8, t("e_bills.form.data8"), class: 'control-label' %>
          <%= f.text_field :data8, class: 'span12' %>
        </div>
        <div class="span4">
          <%= f.label :data9, t("e_bills.form.data9"), class: 'control-label' %>
          <%= f.text_field :data9, class: 'span12' %>
        </div>
      </div>
    </div>

    <div class="pull-right" style="margin-top: 20px;">
      <%= f.submit t("e_bills.form.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("e_bills.form.cancel"), e_bills_path, class: 'btn' %>
    </div>
  </fieldset>

<% end %>
<%# TODO: payer_code is not in the form %>
<script type="text/javascript">
  
</script>