<legend>Send EBill <%= @e_bill.bill_id -%> </legend>
<%= form_for @e_bill, url: trigger_e_bill_path(@e_bill),  method: :put,
              html: { class: 'form-horizontal' } do |f| -%>
  <fieldset>
    <%= f.hidden_field :state_event -%>
    <div>
      <%= f.label :sms_message, t("e_bills.form.message"), class: 'control-label'-%>

      <div class="controls">
        <%= f.text_area :sms_message, value: "#{@e_bill.sms_message}", class: 'span9', row: '4' %>
        <% @e_bill.errors[:sms_message].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>

    </div>

    <div class="form-actions">
      <%= f.submit "Send",  class: "btn btn-primary" %>
      <%= link_to "Cancel", e_bills_path, class: 'btn' %>
    </div>

  </fieldset>
<% end -%>