<legend>
  <div class="pull-right">
    <%= render 'e_bill_state_events', e_bill: @e_bill -%>
    <% if can?(:update, @e_bill) && @e_bill.can_send_receipt? -%>
      <%= link_to t("e_bills.show.resend_receipt"), send_receipt_e_bill_path(@e_bill), 
        class: "btn btn-success", method: "put", remote: true -%>
    <% end %>
    <%= link_to t('e_bills.show.refresh'), e_bill_path(@e_bill), class: "btn btn-warning" -%>
    <%= link_to export_e_bill_path(@e_bill), class: "btn btn-primary" do -%>
      <%= t "e_bills.show.export" -%>
    <% end %>
    <%= link_to :back, class: "btn btn-primary" do -%>
      <i class="icon-chevron-left icon-white"></i> <%= t "e_bills.show.back" -%>
    <% end %>
  </div>

  EBill <%= @e_bill.bill_id %>
</legend>

<%= render 'show_details' %>
