<div class="container-fluid">
  <div class="row-fluid">

    <div class="row-fluid">
      <div class="span12 center login-header">
        <h2>Welcome to eBilling</h2>
      </div><!--/span-->
    </div><!--/row-->

    <div class="row-fluid">
      <div class="well span5 center login-box">
        <h3 class="title text-left section-title">Login</h3>

        <%= render 'shared/notice' -%>

        <%= form_for(resource, :as => resource_name,
            :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
          <fieldset>
            <div class="input-prepend" title="Username" data-rel="tooltip">
              <span class="add-on"><i class="icon-user"></i></span><%= f.text_field :username, :autofocus => true, :class => "input-large span10" %>
            </div>
            <div class="clearfix"></div>

            <div class="input-prepend" title="Password" data-rel="tooltip">
              <span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, :class => "input-large span10" %>
            </div>
            <div class="clearfix"></div>

            <p class="center span5">
              <%= f.submit "Sign in", class: "btn btn-primary" %>
            </p>
          </fieldset>


        <% end %>

        <%= link_to 'Forget Password', new_password_path('user'), style: 'height: 30px; margin-left: 15px; color: #646464' %>

        <%= link_to 'Merchant Register', new_merchant_registration_path, style: 'height: 30px; margin-left: 15px; color: #646464' %>
      </div> <!-- span -->
    </div>


  </div> <!-- row-fluid -->
</div><!-- container-fluid -->