<h3 style="margin-bottom: 15px;">Anonymous EBills Search</h3>

<% unless @e_bill.present? %>
  <div class="alert alert-warning">
    No EBill is found.
  </div>
<% else %>
  <%= render 'e_bills/show_details' %>
<% end %>

<div>
  <%= link_to 'Back', new_anonymous_search_path(search_type: @search_type) %>
</div>