<h3 style="margin-bottom: 15px;">
  <% if @search_type == 'by_bill_id' %>
    Search by bill Id and payer MSISDN
  <% elsif @search_type == 'by_ps_transaction_id' %>
    Search by transaction Id
  <% end %>
</h3>

<%= form_tag(anonymous_searches_path, { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <% if @search_type == 'by_bill_id' %>
      <%= hidden_field_tag :search_type, 'by_bill_id' %>
      <div id='for_merchant_fields' class='specific_fields'>
        <div class="control-group">
          <%= label_tag :bill_id, 'Bill id', class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :bill_id, '', class: 'span5' %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :payer_msisdn, 'Payer Msisdn', class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :payer_msisdn, '', class: 'span5' %>
          </div>
        </div>
      </div>
    <% elsif @search_type == 'by_ps_transaction_id' %>
      <%= hidden_field_tag :search_type, 'by_ps_transaction_id' %>
      <div id='for_payment_system_fields' class='specific_fields'>
        <div class="control-group">
          <%= label_tag :ps_transaction_id, 'PS transaction Id', class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :ps_transaction_id, '', class: 'span5' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-actions">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), root_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#search_type').change(function() {
      var searchType = $('#search_type').val();
      $('.specific_fields').hide();
      $("#" + searchType + "_fields").show();
    });
  });
</script>