<tr class="<%= cycle('odd', 'even') -%>" id="country-row-<%= country.id -%>">
  <td class="center"><%= country.name -%></td>
  <td class="center">
    <%= country.currency_name %>
  </td>
  <td class="center">
    <%= country.currency_code %>
  </td>
  <td>
    <%if can? :delete, country %>
      <%= link_to country_path(country.id),  method: :delete, class: "btn btn-danger", confirm: t("countries.confirm_delete") do -%>
          <i class="icon-trash icon-danger"></i> <%= t "actions.delete" -%>
        <% end -%>
    <% end %>
  </td>
</tr>