<legend>
  <div class="row-fluid">
    <div class="pull-right">
      <% if can?(:create, Country) -%>
        <%= link_to new_country_path,  class: "btn btn-success" do -%>
          <i class="icon-plus icon-white"></i> <%= t "countries.new_country" -%>
        <% end %>
      <% end -%>
    </div>
  </div>
</legend>

<div class="table-container">
  <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
      <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0"><%= t "countries.name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "countries.currency_name" -%></th>
        <th role="columnheader" tabindex="0"><%= t "countries.currency_code" -%></th>
        <th role="columnheader" tabindex="0" style="width: 300px;"><%= t "currencies.actions" -%></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <%= render @countries -%>
    </tbody>
  </table>
</div>