<legend><%= t "countries.new_country" -%></legend>

<%= form_for @country, html: { class: 'form-horizontal' } do |f| -%>
  <fieldset>

    <div class="control-group<%= @country.errors[:name].empty? ? '' : ' error' %>">
      <%= f.label :name, class: 'control-label' do -%>
        <%= t "countries.name" -%>
      <% end -%>
      <div class="controls">
        <%= f.select :name, country_options, {}, class: 'span5', id: 'country-name' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :currency_name, class: 'control-label' do %>
        <%= t "countries.currency_name" -%>
      <% end %>
      <div class="controls">
        <label id='currency-name'></label>
        <%= f.hidden_field :currency_name, id: 'currency_name_hidden' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :currency_code, class: 'control-label' do %>
        <%= t "countries.currency_code" -%>
      <% end %>
      <div class="controls">
        <label id='currency-code'></label>
        <%= f.hidden_field :currency_code, id: 'currency_code_hidden' %>
      </div>
    </div>

    <div class="pull-right" style="margin-top: 20px;">
      <%= f.submit t("countries.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("countries.cancel"), countries_path, class: 'btn' %>
    </div>

  </fieldset>
<% end -%>

<script type="text/javascript">
  var all_currencies = [<%= currency_options_for_select.html_safe %>];

  function findCurrency(countryName) {
    for(var i = 0; i < all_currencies.length; i++) {
      if(all_currencies[i].name === countryName) {
        return all_currencies[i]
      }
    }
    return null;
  }

  function setCurrencyOption() {
    var countryName = $("#country-name").val();

    $("#currency-code").text(findCurrency(countryName)['currency_code']);
    $("#currency_code_hidden").val(findCurrency(countryName)['currency_code']);
    $("#currency-name").text(findCurrency(countryName)['currency_name']);
    $("#currency_name_hidden").val(findCurrency(countryName)['currency_name']);
  }

  $(document).ready(function() {
    setCurrencyOption();

    $("#country-name").change(setCurrencyOption);
  });
</script>


