<legend><%= t "e_bills.index.export_to_excel" -%></legend>
<%= form_for @export_request, url: e_bill_exports_path, method: :post, html: { class: 'form-horizontal' } do |f| -%>
  <fieldset>
    <%= f.hidden_field :export_type %>
    <% if @export_request.errors[:count].present? %>
      <div class="control-group error">
        <label class="control-label"></label>
        <div class="controls">
          <% @export_request.errors[:count].each do |error| -%>
            <span class="help-inline"><%= error -%></span>
          <% end -%>      
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :target_date, class: 'control-label' %>
      <div class="controls">
        <%= f.select :target_date, options_for_select([['Paid date', 'paid_date'], ['Create date', 'create_date']]) %>
      </div>
    </div>
    
    <div class="control-group<%= @export_request.errors[:from].empty? ? '' : ' error' %>">
      <%= f.label :from, t('export_request.form.from'), class: 'control-label' %>
      <div class="controls">
        <div class="datepicker input-append span4">
          <%= f.text_field :from,  "data-format" => 'dd/MM/yyyy' -%>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
        </div>
        <% @export_request.errors[:from].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group<%= @export_request.errors[:to].empty? ? '' : ' error' %>">
      <%= f.label :to, t('export_request.form.to'), class: 'control-label' %>
      <div class="controls">
        <div class="datepicker input-append span4">
          <%= f.text_field :to,  "data-format" => 'dd/MM/yyyy' -%>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
          </span>
        </div>
        <% @export_request.errors[:to].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group<%= @export_request.errors[:state].empty? ? '' : ' error' %>">
      <%= f.label :state, t('export_request.form.state'), class: 'control-label' %>
      <div class="controls">
        <%= f.select :state, state_options_for_export %>
        <% @export_request.errors[:state].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <% if current_user.has_profile?(Profile::ADMIN) %>
      <div class="control-group">
        <%= f.label :payment_system, t('export_request.form.payment_system'), class: 'control-label' %>
        <div class="controls">
          <%= f.select :payment_system_id, payment_system_options %>    
        </div>
      </div>
    <% end %>

    

    <div class="form-actions">
      <%= f.submit t("e_bills.form.submit"),  class: "btn btn-primary" %>
      <%= link_to t("e_bills.form.cancel"), e_bills_path, class: 'btn' %>
    </div>

  </fieldset>
<% end %>