/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require css/bootstrap
 *= require css/bootstrap-responsive
 *= require css/bootstrap-cerulean
 *= require css/charisma-app
 *= require css/chosen
 *= require css/uniform.default
 *= require css/colorbox
 *= require css/jquery.noty
 *= require css/noty_theme_default
 *= require css/elfinder.min
 *= require css/jquery.iphone.toggle
 *= require css/opa-icons
 *= require css/slider-revolution.settings
 *= require font-awesome
 *= require_tree .
 */

 span.big-label {
  font-size: 13px;
 }

 #search-form {
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 5px;
 }

#progress {
  margin-top: 10px;
}

 .progress-bar, .bar {
   background-color: #5cb85c;
   filter: none;
   width: 0%;
   height: 100%;
 }

 .fileinput-button {
  position: relative;
  overflow: hidden;
 }

 input.file-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
 }

 div.field_with_errors {
  display: inline;

  input[type="text"] {
    border: 2px solid red;
  }

 }

 .help-inline {
  color: #b94a48 !important;
}

 a.locale, a.locale:hover {
  color: #f5f5f5;
 }

  /* colors */
  .goldenrod {
    color: #DAA520;
 }

 .grey {
   color: #808080;
 }

 .greenyellow {
   color: #ADFF2F;
 }

 .honeydew {
  color: #F0FFF0;
 }

 .hotpink {
   color: #FF69B4;
 }

 .lightcoral {
   color: #F08080;
 }

 .lightcyan {
   color: #E0FFFF;
 }

 .lightgoldenrodyellow {
   color: #FAFAD2;
 }

 .lightgreen {
   color: #90EE90;
 }

 .lightgrey {
   color: #D3D3D3;
 }

 .lightslategrey {
   color: #778899;
 }

 .lightsteelblue {
   color: #B0C4DE;
 }

 .lightyellow {
   color: #FFFFE0;
 }

 .limegreen {
   color: #32CD32;
 }

 .linen {
   color: #FAF0E6;
 }

 .wheat {
   color: #F5DEB3;
 }

 .whitesmoke {
   color: #F5F5F5;
 }

 .yellowgreen {
   color: #9ACD32;
 }

 .footer {
  color: #808080;
  background: #ffffff;
  padding: 5px 0 30px;
 }

 .headline {
  display: block;
  margin: 10px 0 15px 0;
 }

 .headline h2 {
  border-bottom: 2px solid #72c02c;
  color: #808080;
  background: none;
  text-shadow: none;
 }

.dl-horizontal dt img {
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-top: 2px;
  border: solid 1px #ddd;
}

.dashboard-list li img {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-top: 2px;
  border: solid 1px #ddd;
}

.dl-horizontal dt {
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0px;
  width: 65px;
}

.big_white{
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
}

 .footer p, .footer a {
  font-size: 14px;
  color: #808080;
}

 .footer-navlist,  .footer-navlist a {
  font-size: 16px;
  color: #363636;
  text-decoration: none;
 }

 .footer-navlist ul a {
  font-size: 14px;
  color: #808080;
 }

 .footer-navlist ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style-type: none;
 }