.section-title {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.box {
  margin-top: 0px;
}

.box-header {
  cursor: auto;
}

.check-box {
  display: inline-block;
}

.show-label {
  float: left;
  width: 240px;
  padding-top: 5px;
  text-align: right;
}

.show-content {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
}

//Table container
.table-container {
  margin-top: 20px;
}