// Place all the styles related to the EBills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-created {
  background-color: #DAE21F;
}

.label-ready {
  background-color: #dd5600;
}

.label-paid {
  background-color: #669533;
}

.label-cancelled {
  background-color: #999999;
}

.label-failed {
  background-color: #bd4247;
}

.label-processed {
  background-color: #669533;
}

span.message {
  padding-top: 5px;
  margin-bottom: 5px;
  display: block;
}