<div class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <%= label_tag :fee_strategy, nil, class: 'control-label'  %>
      <div class="controls">
        <%= select_tag "fee_strategy", options_for_select([ ["FixedStrategy", 'fixed_strategy'], ["VariableStrategy", 'variable_strategy']], 
          @fee_strategy.present? ? @fee_strategy.type.demodulize.underscore : 'fixed_strategy') %>
      </div>
    </div>
  </fieldset>
</div>

<% model_obj = @fee_strategy.present? ? @fee_strategy : FeeStrategy::FixedStrategy.new %>
<%= form_for model_obj, url: user_fee_strategy_path(@user.id), as: 'fee_strategy', html: { class: 'form-horizontal strategy-form', id: 'fixed_strategy', style: 'display:none' } do |f| %>
  <fieldset>
    <%= f.hidden_field :type, value: 'FeeStrategy::FixedStrategy' %>

    <div class="control-group <%= f.object.errors[:fixed_amount].empty? ? '' : 'error' -%>">
      <%= f.label :fixed_amount, t("fee_strategies.index.fixed_amount"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :fixed_amount, class: 'span3' %>
        <%= @user.currency %>
        <% f.object.errors[:fixed_amount].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>

        <%= f.hidden_field :fixed_amount_currency, value: @user.currency %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :disable_recurrent, t("fee_strategies.index.disable_recurrent"), class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :disable_recurrent %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), user_path(@user.id), class: 'btn' %>
    </div>
  </fieldset>
<% end %>


<% model_obj = @fee_strategy.present? ? @fee_strategy : FeeStrategy::VariableStrategy.new %>
<%= form_for model_obj, url: user_fee_strategy_path(@user.id), as: 'fee_strategy', html: { class: 'form-horizontal strategy-form', id: 'variable_strategy', style: 'display:none'} do |f| %>
  <fieldset>

    <%= f.hidden_field :type, value: 'FeeStrategy::VariableStrategy' %>

    <div class="control-group <%= f.object.errors[:percentage].empty? ? '' : 'error' -%>">
      <%= f.label :fixed_amount, t("fee_strategies.index.percentage"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :percentage, class: 'span3' %>
        <%= '%' %>
        <% f.object.errors[:percentage].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>
      </div>
    </div>

    <div class="control-group <%= f.object.errors[:maximum_amount].empty? ? '' : 'error' -%>">
      <%= f.label :maximum_amount, t("fee_strategies.index.maximum_amount"), class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :maximum_amount, class: 'span3' %>
        <%= @user.currency %>
        <% f.object.errors[:maximum_amount].each do |error| -%>
          <span class="help-inline"><%= error -%></span>
        <% end -%>

        <%= f.hidden_field :maximum_amount_currency, value: @user.currency %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :disable_recurrent, t("fee_strategies.index.disable_recurrent"), class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :disable_recurrent %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t("actions.save_changes"),  class: "btn btn-primary" %>
      <%= link_to t("actions.cancel"), user_path(@user.id), class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  function setStrategyForm() {
    $('.strategy-form').hide();

    var currentStrategry = $('#fee_strategy').val();
    $("#" + currentStrategry).show();
  }

  $(document).ready(function() {
    setStrategyForm();

    $('#fee_strategy').change(function() {
      setStrategyForm();
    });
  });

</script>