<%= form_tag monthly_stats_path, method: :get do %>
  <%= select_tag 'year', options_for_select(2015..Date.today.year, selected: @year) %>
  <%= select_tag 'month', options_for_select([['January', '1'], ['Febrary', '2'], ['March', '3'], ['April', '4'], ['May', '5'], ['June', '6'], ['July', '7'], ['August', '8'], ['September', '9'], ['October', '10'], ['November', '11'], ['December', '12']], selected: @month) %>
  <%= submit_tag 'Select', class: 'btn btn-success', style: 'margin-bottom: 9px' %>
<% end %>