<div class="box">
  <div class="box-header well" data-original-title="">
    <h2><i class="icon-list"></i> <%= t "dashboard.title.ebills_overall" -%></h2>
  </div>
  <div class="box-content">
    <div class="row-fluid">
      <div class="span6">
        <% if @stat.present? %>
          <h4>Last updated at: <%= @stat.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></h4>
        <% end %>
      </div>
      <div class="span6">
        <%= render 'form' %>
      </div>
    </div>
    <div class="sortable row-fluid">
      <%= link_to e_bills_path(), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x green"></i>
        <div><%= t "dashboard.total" -%></div>
        <div><%= @total_count -%></div>
      <% end -%>


      <%= link_to e_bills_path(by_state: 'created'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.created" -%></div>
        <div><%= @created_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(by_state: 'ready'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.ready" -%></div>
        <div><%= @ready_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(overdue: 'true'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x red"></i>
        <div><%= t "dashboard.overdue" -%></div>
        <div><%= @overdue_count -%></div>
      <% end -%>
    </div>

    <div class="sortable row-fluid">
      <%= link_to e_bills_path(by_state: 'paid'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.paid" -%></div>
        <div><%= @paid_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(by_state: 'cancelled'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x grey"></i>
        <div><%= t "dashboard.cancelled" -%></div>
        <div><%= @cancelled_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(by_state: 'expired'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x grey"></i>
        <div><%= t "dashboard.expired" -%></div>
        <div><%= @expired_count -%></div>
      <% end -%>

      <%= link_to e_bills_path(by_state: 'processed'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.processed" -%></div>
        <div><%= @processed_count -%></div>
      <% end -%>
    </div>

    <div class="sortable row-fluid">
      <%= link_to e_bills_path(by_state: 'partially_paid'), class: "span3 well top-block" do -%>
        <i class="icon-user icon-2x goldenrod"></i>
        <div><%= t "dashboard.partially_paid" -%></div>
        <div><%= @partially_paid_count -%></div>
      <% end -%>
    </div>
  </div>
</div>