<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You received this mail because you want to reset your PIN</h3>
    <p>
      To reset the PIN, just enter the following OTP: <b><%= @mobile.otp -%></b>
    </p>
    <p>
      This OTP is valid for 15 minutes.
    </p>
  </body>
</html>