<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to eBilling to register your mobile, <%= @user.username %></h3>
    <p>
      To login to the mobile App, just enter the following OTP: <b><%= @mobile.otp -%></b>
    </p>
    <p>
      This OTP is valid for 15 minutes.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
