<!-- topbar starts -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to root_url, class: 'brand' do %>
        <%= image_tag 'logo20.png' %>
        <span>eBilling</span>
      <% end %>

      <%= link_to_unless (I18n.locale == :en) ,"English", locale_path(:locale => "en"), class: "locale" -%> | <%= link_to_unless (I18n.locale == :fr), "French", locale_path(:locale => "fr"), class: "locale" -%>
      <% if user_signed_in? %>
        <!-- user dropdown starts -->
        <div class="btn-group pull-right" >
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i><span class="hidden-phone"> <%= current_user.username -%></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', outline_path -%></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete -%></li>
          </ul>
        </div>
        <!-- user dropdown ends -->
      <% end %>
    </div>
  </div><!-- navbar-inner -->
</div><!-- navbar -->
<!-- topbar ends -->