<!-- left menu starts -->
<%if user_signed_in? %>
  <div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
      <ul class="nav nav-tabs nav-stacked main-menu">
        <li class="nav-header hidden-tablet">Main</li>

        <%= menu_item_li root_path, "dashboard", "icon-home" -%>

        <% if can? :read, EBill -%>
          <%= menu_item_li e_bills_path, "e_bills", "icon-list-alt" -%>
        <% end -%>

        <% if can? :read, BatchFile -%>
          <%= menu_item_li batch_files_path, "batch_files", "icon-list-alt" -%>
        <% end -%>

        <% if can? :read, AuditTrail -%>
          <%= menu_item_li audit_trails_path, "audit_trails", "icon-inbox" -%>
        <% end -%>

        <% if can? :read, Profile -%>
          <%= menu_item_li profiles_path, "profiles", "icon-eye-open" -%>
        <% end -%>

        <% if can?(:read, User) -%>
          <%= menu_item_li users_path, "users", "icon-user" -%>
        <% end -%>

        <% if can?(:manage, Mobile) -%>
          <%= menu_item_li mobiles_path, "mobiles", "icon-mobile-phone" -%>
        <% end -%>

        <% if current_user.has_profile?(Profile::ADMIN) %>
          <% if can?(:manage, MobileTrace) -%>
            <%= menu_item_li mobile_traces_path, "mobile_traces", "icon-bolt" -%>
          <% end -%>
        <% end %>

        <% if can?(:manage, MerchantPaymentSystemMapping) -%>
          <%= menu_item_li merchant_payment_system_mappings_path, "merchant_payment_system_mapping", "icon-bolt" -%>
        <% end -%>

        <% if can?(:manage, Currency) -%>
          <%= menu_item_li currencies_path, "currency", "icon-dollar" -%>
        <% end -%>

        <% if can?(:manage, EbillingPaymentAccount) -%>
          <%= menu_item_li ebilling_payment_accounts_path, "ebilling_payment_accounts", "icon-dollar" -%>
        <% end -%>

        <% if can?(:read, Settings) -%>
          <%= menu_item_li settings_path, "templates", "icon-list",
              "menu_item", :active => Proc.new {controller_name == "settings"} -%>
        <% end -%>

        <% if can?(:read, Settings) %>
          <%= menu_item_li system_configs_path, "system_configs", "icon-list",
              "menu_item", :active => Proc.new {controller_name == "system_configs"} -%>
        <% end %>

        <% if can?(:read, Country) %>
          <%= menu_item_li countries_path, "countries", "icon-list",
              "menu_item", :active => Proc.new {controller_name == "countries"} -%>
        <% end %>

        <% if current_user.has_profile? Profile::PAYMENT_SYSTEM_OPERATOR %>
          <%= menu_item_li payment_system_operator_merchants_path, "merchant_list", "icon-shopping-cart",
              "menu_item", :active => Proc.new {controller_name == "payment_system_operator_merchants"} -%>
        <% end %>

        <% if current_user.has_profile? Profile::MERCHANT %>
          <%= menu_item_li merchant_payment_systems_path, "account_list", "icon-shopping-cart",
              "menu_item", :active => Proc.new {controller_name == "merchant_payment_systems"} -%>
        <% end %>

      </ul>

    </div><!--/.well -->
  </div><!--/span-->
  <!-- left menu ends -->
<% end %>
<noscript>
  <div class="alert alert-block span10">
    <h4 class="alert-heading">Warning!</h4>
    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
  </div>
</noscript>