<!DOCTYPE html>
<html>
<head>
  <title>Ebilling</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container-fluid">

  <div class="row-fluid">
    <%= render "layouts/main_menu" %>

    <div id="content" class="span10"> <!-- content starts -->
      <%= big_box content_for?(:title) ? yield(:title) : t("menu.#{controller_name}"), content_for?(:title_icon) ? yield(:title_icon) : 'icon-info-sign' do -%>
        <div id="notice">
          <%= render 'shared/notice' %>
        </div>

        <%= yield %>
      <% end -%>
    </div><!-- content ends -->

  </div>

  <%= render "layouts/footer" %>

</div><!-- container-fluid -->

</body>
</html>
